
/* nav{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 100%;
  background: black;
  padding: 10px;
  height: 100vh;
}

.logo img{
  width: 100%
  ;
  object-fit: cover;
  height: auto;
} */